@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;500;600&display=swap');


/* font-family: 'Nunito', sans-serif; */


.nutrition-container{
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    min-width: 100vw;
}

.nutrition-top{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.nutrition-heading h2{
 font-family: 'Nunito', sans-serif; 
 color: rgba(0, 0, 0, 0.853);
 margin-top: 25px;
 font-size: 1.8em;

}


.nutrition-searchbar input{
    padding: 2px 20px;
    border: 1px solid rgb(143, 143, 255);
    border-radius: 2px;
    background-color: transparent;
    font-family: 'Nunito', sans-serif;
    margin-top: 10px;

}

.nutrition-searchbar input:focus{
    border: 1px solid blue;
    outline: none;
}

.nutrition-searchbar input::placeholder{
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.59);
   text-align: center;
}


.nutrition-page{
    background-color: #eeeeee;
}

.nutrition-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 900px;
    margin: 0px auto;
    margin-top: 70px;
    min-height: 50vh;
}

.item-name h3{
    font-family: 'Nunito', sans-serif;
    margin-left: 23px;
    margin-top: 8px;
    color: rgb(52, 52, 255);
}

.item-details{
    padding: 10px 20px;
}

.item-flex{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.item-flex li{
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.881);
    margin-left: 3px;
}

.item-flex span{
    color: rgb(0, 139, 0);
    font-weight: 700;
    margin-right: 5px;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
}


.nutrition-items{
    min-width: 200px;
    min-height: 200px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    border-radius: 4px;
    margin-bottom: 30px;
    padding-bottom: 10px;
}


.nutritionitem-left{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.nutritionitem-left img{
  height: 150px;
  width: 150px;
  border-radius: 4px;
}

.load-more{
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.load-more button{
    background-color: rgb(0, 0, 44);
    color: white;
    padding: 5px 20px;
    border: none;
    outline: none;
    border-radius: 3px;
    font-family: 'Nunito', sans-serif;
    cursor: pointer;
}

.laading-ring{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito', sans-serif;
}

.laading-ring span{
    margin-right: 4px;
}


@media screen and (max-width: 768px) {
    .load-more{
        display: flex;
        width: 100%;
        justify-content: center;
    }
}


@media screen and (max-width: 767px) {
    .nutrition-heading{
       width: 100%;
       padding: 10px;
       margin-left: 0px;
       margin-right: 0px;
    }

    .nutrition-heading h2{
        margin: 0px;
        padding: 0px;
        font-size: 22px;
        text-align: center;
    }

    .nutrition-box{
       margin-top: 30px;
    }

    .nutrition-items{
        min-width: 200px;
        min-height: 200px;
        box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
        border-radius: 4px;
        margin-bottom: 30px;
        padding-bottom: 10px;
    }

    .nutritionitem-left img{
           margin: 10px 25px;
            height: 220px;
            width: 220px;
            border-radius: 4px;
          
    }
    .load-more{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 10px 0px;
        padding: 0PX;
    }
}